<footer class="text-center bg-light d-flex" style="height: 100px">
    <p class="m-auto"> &copy;ChristelleKandel@ckweb.fr {{ 'now'|date('Y') }}<br>
    <a href="{{ path('app_home_contact') }}">Contact</a>
    </p>
    
</footer>