    {{ form_start(monFormulaire) }}
        {{ form_widget(monFormulaire) }}
        <div class="d-grid gap-2 col-4 mx-auto">
            <input type="submit" class="btn btn-primary" value="{{submitButtonText}}">
        </div>
    {{ form_end(monFormulaire) }}