{% extends 'base.html.twig' %}

{% block title %}Contact | {{ parent() }}{% endblock %}

{% block body %}


<div class="text-center">
    <h1>Nous contacter</h1>
    <img src="{{ asset('/images/picto2.jpg') }}" alt="pictogramme">
    <p>
        Bienvenue sur ma page de Contact <span class="text-danger">&hearts;</span> <br>
        Je suis Christelle Kandel, developpeuse web <br>
        et je peux faire vos projets sur Symfony et Drupal.<br>
        <a href="https://ckweb.fr/" target="_blank">Voir le site web de ckweb.fr</a>
    </p>
    <p>
        <a href="{{ path('app_home') }}">Retour accueil</a> 
    </p>
    
</div>
{% endblock %}
