body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    color:white;
    background-color: darkslategray;
    padding: 15px;
}

.vich-image img{
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    border: rounded 1px 
}
