{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center row m-5">
        <div class="col-md-6 mx-auto">
            <h1>ACCES INTERDIT</h1>
            <p> OUPS, Vous n'avez pas l'autorisation d'aller sur cette page. </p>
            <a href="{{ path('app_home') }}">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
        
